@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,400;1,200;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Belanosima&display=swap');

/* reset css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    background-color: rgb(22, 22, 22);
    text-align: center;
}

.title {
    font: 20px 'Belanosima';
    margin: 20px;
    color: rgb(255, 255, 255);
}

.gamebody {
    margin: 2.8% 10%;
    background-color: rgb(44, 44, 44);
    border-radius: 10px;
    padding: 20px 0px;

    height: 140px;
    width: 80%;
}

.main-msg {
    height: 35px;

    font: 18px 'Montserrat';
    font-weight: 200;
    color: rgb(255, 255, 255);

    #sub-txt {
        font-size: 14px;
        font-style: italic;
    }
}

.guess {
    font: 12px 'Montserrat';
    font-style: normal;
    border: 0px solid;
    border-radius: 5px;
    height: 25px;
    width: 250px;
    text-align: center;
    background-color: rgb(167, 167, 167);
}

.error-msg {
    margin-top: 10px;
    font: 14px 'Montserrat';
    font-style: normal;
    color: rgb(255, 0, 0);
}

.end-btn {
    width: 75px;
    height: 30px;
    border: 0px solid;
    border-radius: 10px;
    background-color: black;
    margin: 0px 10px;
    padding: 2.5px;

    font: 13px 'Montserrat';
    font-weight: 800;
    font-style: italic;
    color: rgb(119, 211, 119);

    cursor: pointer;
}

.end-btn:hover {
    background-color: rgb(75, 75, 75);
    color: rgb(142, 255, 142);
}

.end-btn:disabled {
    display: none;
}

footer {
    padding: 20px;
    color: rgb(110, 110, 110);
    border-top: 1px solid rgb(97, 97, 97);
    position: fixed;
    bottom: 0;
    width: 100%;
    user-select: none;

    font: 14px 'Montserrat';
    font-style: italic;
    font-weight: 400;

    .link {
        color: rgb(43, 110, 43);
        text-decoration: underline;
        cursor: pointer;
    }

    .link:hover {
        color: rgb(68, 175, 68);
    }
}